[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-xpinstall;application/vnd.flatpak;application/vnd.flatpak.ref;
Actions=installPackage;
X-KDE-Priority=TopLevel

[Desktop Action installPackage]
Name=使用 GUI 安裝套件
Name[zh_TW]=使用 GUI 安裝套件
Name[zh_CN]=使用 GUI 安装套件
Icon=system-software-install
Exec=rendy-arch-appinstaller %f
